
.noto-serif-text-title {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



.max-width{
  max-width: 1140px;
  margin: 30px auto;
}

/* shared colored  */
.title-color-primary{
   color: #E95A08;
}
.des-color-primary{
    color: rgba(0, 0, 0, 0.5);
 
}

/* nav styles  */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav img{
  width: 135px ;
  height: 82px;
}
nav ul{
  display: flex;
  gap: 15px;
  list-style: none;
 
}

nav ul li a {
  text-decoration: none;
  color: black;
}

/* banner section here  */
.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-left{
  
}
.banner-title{
  font-size: 65px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 5px;
  
}
.banner-description{
  font-size: 22px;
}

/* plant cart section here  */
.plant-cart{
  text-align: center;
}
.plant-cart-title{
font-size: 50px;
font-weight: 700;
margin: 0;
margin-bottom: 16px;
}
.plant-cart-description{
  font-size: 22px;
}
.flowers{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.flower-title{
font-size: 22px;
margin: 0;
margin-top: 10px;
}
.flower-price{
  font-size: 22px;
  font-weight: bold;
  color: #111111;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 10px;
}
.flower-btn{
  background-color: #E95A08;
  color: white;
  font-weight: 500 ;
  
  border: none;
  width: 270px;
  height: 50px;
  text-align: center;
  
}

/* plant lover section  */
.plant-lover{
  display: flex;
  justify-content: space-between;
  gap: auto;
  margin-top: 200px;

}



.main-image{
  width: 500px;
  height: 597px;
  
}
.badge{
  width: 270px;
  height: 270px;
  position: relative;
  top: -80%;
  right: -70%;

}
.plant-lover-title{
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}
.plant-lover-des{
  font-size: 22px;
  margin-bottom: 20px;
  margin: 5px;
  padding: 10px;
  
}
.plant-lover-facts{
  padding: 30px;
  margin-left: 60px;
 

}


