
.noto-serif-text-title {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter-text-description {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}



.max-width{
  max-width: 1140px;
  margin: 30px auto;
}

/* shared colored  */
.title-color-primary{
   color: #E95A08;
}
.des-color-primary{
    color: rgba(0, 0, 0, 0.5);
 
}

/* nav styles  */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav img{
  width: 135px ;
  height: 82px;
}
nav ul{
  display: flex;
  gap: 15px;
  list-style: none;
 
}

nav ul li a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 576px) {
  nav {
    margin: 0 auto;
    justify-content: space-between;

  }
 nav li:not(:last-child){
  display: none;
  align-items: center;
  gap: 146px;
  
 }
 nav img{
  width: 63px;
  height: 38px;
 }
}


/* banner section here  */
.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-left{
  
}
.banner-title{
  font-size: 65px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 5px;
  
}
.banner-description{
  font-size: 22px;
}

@media screen and (max-width:576px) {
  .banner{
    flex-direction: column;
    flex-direction: column-reverse;
    margin: 0;
    
  }
  .banner-title{
    font-size: 24px;
    font-weight: 700;
  }
  .banner-description{
    font-size: 14px;
  }
  .banner-left{
    margin: 28px 16px;
  }
  .banner-right img{
    width: 393px;
    margin: 0;
  }
  
}

/* plant cart section here  */
.plant-cart{
  text-align: center;
}
.plant-cart-title{
font-size: 50px;
font-weight: 700;
margin: 0;
margin-bottom: 16px;
}
.plant-cart-description{
  font-size: 22px;
}
.flowers{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px 15px;
  align-items: center;
}

.flower-title{
font-size: 22px;
margin: 0;
margin-top: 10px;
}
.flower-price{
  font-size: 22px;
  font-weight: bold;
  color: #111111;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 10px;
}
.flower-btn{
  background-color: #E95A08;
  color: white;
  font-weight: 500 ;
  
  border: none;
  width: 270px;
  height: 50px;
  text-align: center;
  
}

/* media query --------------------------------------------------------------------------- */

@media screen and (max-width: 576px) {
  .plant-cart-title{
    font-size: 24px;
    font-weight: 700;
  }
  .plant-cart-description{
    font-size: 14px;
  }
  br{
    display: none;
  }
  .flowers{
      grid-template-columns: repeat(2,1fr);
      gap: 20px;
      justify-content: center;
      align-items: center;

  }
  .flower-img{
    width: 171px;
    text-align: center;
  }
  .flower-title  {
width: 171px;align-items: center;
  }
  .flower-price{
width: 171px;align-items: center;
  }
  .flower-btn{
width: 171px;align-items: center;
  }
  
}







/* plant lover section  */
.plant-lover-section{
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin-top: 200px;

}

.image-container{
  position: relative;
}


.store-image{
  width: 500px;
  height: 597px;
  
}
.badge{
  width: 286px;
  height: 286px;
 position: absolute;
 top: -100px;
 right: -90px;
 filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.25));

}

.plant-lover-title{
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}
.plant-lover-des{
  font-size: 22px;
  margin-bottom: 20px;
  margin: 5px;
  padding: 10px;
  
}
.plant-lover-container{

  margin-top: 38px;
 

}





